<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" href="/min/index.php?&f={{ css }}" />
    	<script src="/min/index.php?f={{ js }}"></script>
        {% block head %}
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
    </head>
    <body>
		<div>
    		{% block top %}
	    	<div class='nav-1'>
	    		<div class='container-fluid'>
	    			
	    		</div>
	    		<button aria-controls="navbar" aria-expanded="false" data-target="#bs-sidebar-navbar-collapse-1" data-toggle="collapse" class="btn btn-xs navbar-toggle collapsed" id="nav-btn" type="button">
	                <i class="glyphicon glyphicon-th-list"> 导航</i>
	        	</button>
	    	</div>
 </div>
	    	{% endblock %}
	    	<div>
	    	<div class='page-left f-left hidden-xs col-xs-2' role='complementary' id='page_left' >
	    			<div class='row'>
	    			{% include "@app/views/home/sidebar.html" %}
	    			</div>
	    		</div>
	    		<div class='visible-xs container-fluid'>
	    			
		    			<div class="list-group collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1" style='width:100%; margin:5px auto;'>
					        <a href="#" class="list-group-item" id='nav-top-task'>
					            <i class="fa fa-tags"></i> &nbsp;&nbsp;任务
					        </a>
					        <a href="#" class="list-group-item" id='nav-top-problem'>
					            <i class="fa fa-bug"></i> &nbsp;&nbsp;报错
					        </a>
					        <a href="#" class="list-group-item" id='nav-top-advice'>
					            <i class="fa fa-book"></i> &nbsp;&nbsp;建议
					        </a>
					        <a href="#" class="list-group-item" id='nav-top-journal'>
					            <i class="fa fa-sticky-note"></i> &nbsp;&nbsp;日志
					        </a>
					        <a href="#" class="list-group-item" id='nav-top-plan'>
					            <i class="fa fa-arrows"></i> &nbsp;&nbsp;规划
					        </a>
					        <a href="#" class="list-group-item" id='nav-top-team'>
					            <i class="fa fa-users"></i> &nbsp;&nbsp;团队
					        </a>
					        <a href="#" class="list-group-item" id='nav-top-account'>
					            <i class="fa fa-home"></i> &nbsp;&nbsp;帐号
					        </a>
					        <a href="#" class="list-group-item" id='nav-top-setting'>
					            <i class="fa fa-cog"></i> &nbsp;&nbsp;设置
					        </a>
					   
				    </div>    
	    		</div>
	    		<div class='page-right f-left h-max col-xs-12 col-sm-10 col-md-10' role='main'> 
	    			<div class='container-fluid'>
	    				<div class='row'>
	    				{% block content %}{% endblock %}
	    				</div>
	    			</div>
	    		</div>
    			
	    		<div style="display:none;width:100px;height:auto;border:1px solid #666;right:0;position:fixed;top:129px;">
	    			<ul>
	    				<li> demon_cry </li>
	    				<li> InMyHeart </li>
	    			</ul>
				</div>
	    		<div class='clearfix'></div>
	    	</div>
	    	<div class='clearfix'></div>
    	</div>
    </body>
    <script>
    $(function(){
    	var title_1 = '#nav-side-{{ nav }}';
    	var title_2 = '#nav-top-{{ nav }}';  
    	$(title_1).attr('class','list-group-item active');
    	$(title_2).attr('class','list-group-item active');
    });
    </script>
</html>