<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" href="/min/index.php?&f={{ css }}" />
    	<script src="/min/index.php?f={{ js }}"></script>
        {% block head %}
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
    </head>
    <body>
    	<div class="container-fluid h-max">
    		{% block top %}
	    	<div class='top row'>
	    		<button aria-controls="navbar" aria-expanded="false" data-target="#bs-sidebar-navbar-collapse-1" data-toggle="collapse" class="btn btn-xs navbar-toggle collapsed" id="nav-btn" type="button">
                    <i class="glyphicon glyphicon-th-list"> 导航</i>
            	</button>
	    	</div>
	    	{% endblock %}
	    	<div class="row h-max">
	    		<div class='page-left h-max hidden-xs'>
	    			{% include "@app/views/home/sidebar.html" %}
	    		</div>
	    		<div class='visible-xs'>
	    			<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-inverse" id="bs-sidebar-navbar-collapse-1">
						<ul class="nav navbar-nav" id='navbar2'>
							
							<li ><a href="#"><i class="fa fa-tags"></i> 任务</a></li>
							<li ><a href="#">报错<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-bug"></span></a></li>
							<li ><a href="#">建议<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-book"></span></a></li>
							<li ><a href="#">日志<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-sticky-note"></span></a></li>
							<li ><a href="#">项目安排<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-arrows"></span></a></li>
							<li ><a href="#">团队成员<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-users"></span></a></li>
							<li class="active"><a href="#">个人信息<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">设置 <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-cog"></span></a>
								<ul class="dropdown-menu forAnimate" role="menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li><a href="#">Separated link</a></li>
									<li><a href="#">One more separated link</a></li>
								</ul>
							</li>
							
						</ul>
					</div>
	    		</div>
	    		<div class='page-right col-xs-12'>
	    			{% block content %}{% endblock %}
	    		</div>
	    	</div>
	    	<div class='clearfix'></div>
    	</div>
    	
    </body>
</html>