<div class='row h-max'>
	<nav class="sidebar navbar-inverse" role="navigation" style='padding-bottom:10000px;margin-bottom:-10000px; overflow:hidden;'>
	    <div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-0">
				<ul class="nav navbar-nav" id='navbar'>
					<li ><a href="#"><i class='fa fa-tv'></i> &nbsp;&nbsp; 工作台</a></li>
					<li ><a href="#">任务<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-tags"></span></a></li>
					<li ><a href="#">报错<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-bug"></span></a></li>
					<li ><a href="#">建议<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-book"></span></a></li>
					<li ><a href="#">日志<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-sticky-note"></span></a></li>
					<li ><a href="#">项目安排<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-arrows"></span></a></li>
					<li ><a href="#">团队成员<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-users"></span></a></li>
					<li class="active"><a href="#">个人信息<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">设置 <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-cog"></span></a>
						<ul class="dropdown-menu forAnimate" role="menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
					
				</ul>
			</div>
		</div>
	</nav>
</div>