.nav-1{
	background:#3a3a3a none repeat scroll 0 0;
    line-height: 55px;
    min-height: 55px;border-bottom:1px solid #000;
}
.nav-2{
	background:#303236 none repeat scroll 0 0;
    line-height: 55px;
    min-height: 55px;
}
.nav-list li{
	float:left;
}
.nav-list li a{
	padding:0 30px;height:55px;overflow:hidden;display:block;color:#efefef;
}
.nav-list li a:hover{
	background:#000; text-decoration:none;
}
.nav-list li .active{
	background:#000; text-decoration:none;
}
.task-item{
	height:100px; overflow: hidden;
}
.item-detail{
	height:100px; border:1px solid #ccc; padding:6px;
}

.page-left{
	height:100%;position:relative;
}

/* list */
.item-title{
	height:45px;line-height:42px;
}
.post:hover{
	background:#fffae6;
}


