{% extends "@app/views/layouts/main.html" %}

{% block title %}{{ user }}{% endblock %}  
{% block head %}  
    {{ parent() }}  
    <style type="text/css">  
        .important { color: #336699; }  
    </style>  
{% endblock %}  
{% block content %}
    <div class='header-1 mt-10 mb-10'>
    	<ul class='projects'>
    	{% for item in projects %}
    		<li class='f-left ml-10 mr-10'>
                <div style="height:100px;border:1px solid yellow">
                    <a href='#'>{{ item.title }} {{ loop.index }}</a>
                </div>
                </li>
    	{% endfor %}
    		<div class='clearfix'></div>
    	</ul>
    </div>  
    <ul>
    	{% for item in tasks %}
    		<li class='col-xs-6 col-sm-4 task-item bd-gray-1 mb-10'>
                <div style="height:100px;border:1px solid yellow">
                {{ item.title }} {{ loop.index }}
                </div>
            </li>
    	{% endfor %}
    </ul>
{% endblock %}  
