{% extends "@app/views/layouts/main.html" %}

{% block title %}{{ user }}{% endblock %}  
{% block head %}  
    {{ parent() }}  
    <style type="text/css">  
        .important { color: #336699; }  
    </style>  
{% endblock %}  
{% block content %}
    <div class='header-1 mt-10 mb-20'>
    	
    	<ul class='projects'>
    	{% for item in projects %}
    		<li class='f-left ml-10 mr-10'><a href='#'>{{ item.title }} {{ loop.index }}</a></li>
    	{% endfor %}
    		<div class='clearfix'></div>
    	</ul>
    	
    </div>  
    <ul>
    	{% for item in tasks %}
    		<li class='col-sm-2 task-item bd-gray-1 mr-5 mb-10'>{{ item.title }} {{ loop.index }}</li>
    	{% endfor %}
    </ul>
{% endblock %}  
